<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styleshett.css">
    <title>Work Page</title>
</head>
<body>
    <h2 class="wp-totle">work Page</h2>
    <div class="img-flx">
        <img src="/images/joana-pires-HZsD3Znzt8Y-unsplash.jpeg" alt="" class="img">
        <img src="/images/jonatan-pie-xgTMSz6kegE-unsplash.jpeg" alt="" class="img">
        <img src="/images/niilo-isotalo-r_TzuObQYBQ-unsplash.jpeg" alt="" class="img">
        <img src="/images/radoslaw-prekurat-oJW6cBoCHfo-unsplash.jpeg" alt="" class="img">
    </div>
   



    <script src="/public/javascript/script.js"></script>
    
</body>
</html>